<style>


.footer {
  display:none;
}

.navbar {
  display: none;
}

.alertClass {
  display: none;
}

.photo {
  height: 100vh;
}

</style>

<header class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(http://artsboston.org/wp-content/uploads/2016/08/Open-Book.jpg); background-size: cover">

    <div class="contain_image">
        <div class="contain__fly-in-text">
            <ul class="fly-in-text hidden">
                <li>A</li>
                <li>i</li>
                <li>r</li>
                <li>B</li>
                <li>o</li>
                <li>o</li>
                <li>k</li>
                <li>s</li>
            </ul>
        </div>
        <div class="webdev">Rent your books</div>
        <div class="gobtn">
          <% if user_signed_in? %>
          <%= link_to "let' go !", dashboard_path(status: 'livres'), class: 'btn btn-primary btn-lg rounded'   %>

          <% else %>
          <%= link_to "let' go !", new_user_session_path, class: 'btn btn-primary btn-lg rounded'   %>

          <% end %>
                      </div>
    </div>
</header>




