<style>
  .banner {
  background-size: cover;
  background-position: center;
  padding: 100vh 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  display:none;
}

.navbar {
  display: none;
}

.alertClass {
  display: none;
}

.photo {
  height: 100vh;
}

</style>

<header class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://artsboston.org/wp-content/uploads/2016/08/Open-Book.jpg);">

    <div class="contain_image">
        <div class="contain__fly-in-text">
            <ul class="fly-in-text hidden">
                <li>A</li>
                <li>i</li>
                <li>r</li>
                <li>B</li>
                <li>o</li>
                <li>o</li>
                <li>k</li>
                <li>s</li>
            </ul>
        </div>
        <div class="webdev">Rent your books</div>
        <div class="gobtn">
              <%= link_to "c'est parti !", dashboard_path(status: 'livres'), class: 'btn btn-primary btn-lg'   %>
        </div>


    </div>
</header>




